{
    "map": {},
    "filename": "windows-uwp/README.md"
}
---
# Universal Windows Platform (UWP) Example

_Dependencies: To be able to build and run this project, you need to install the following._

* [Visual Studio](https://visualstudio.microsoft.com/)
    * Make sure to install _C#_, _UWP_, and _Windows 10 SDK_ components.
* (_To be able to generate the code_) [ProJor](https://docs.siocode.hu/projor)

_Building: These are the steps to build and run the project._

* Open the `windows-uwp/windows-uwp.sln` solution file in Visual Studio.
* Wait for everything to load correctly.
* Select `Debug` and `x86` from the top menu, and click on the `Local Machine` button to run the app.
