{
    "map": {},
    "filename": "linux-gtk/README.md"
}
---
# Linux (GTK) Example

_Dependencies: To be able to build and run this project, you need to install the following._

* _Ubuntu_: `sudo apt-get install build-essential pkg-config libgtk-3-dev`
* (_To be able to generate the code_) [ProJor](https://docs.siocode.hu/projor)

_Building: These are the steps to build and run the project._

* Run `source build.sh` to build the project.
* Run `./{{kebabCase $.name}}` to run the project.
