{
    "map": {},
    "filename": "web-react/README.md"
}
---
# Web (React + Tailwind) Example

_Dependencies: To be able to build and run this project, you need to install the following._

* [Node.JS](https://nodejs.org/) (and [NPM](https://www.npmjs.com/))
* (_To be able to generate the code_) [ProJor](https://docs.siocode.hu/projor)

_Building: These are the steps to build and run the project._

* Run `npm install` to install the dependencies.
* Run `npm run build` to build the project.
* Run `npm run serve` to serve the project on `http://localhost:8080`.
